<div class="card">
  <div class="card-header border-0 pb-0">
    <div class="d-flex align-items-center">
      <div>
        <span class="d-block text-sm text-secondary">Price</span>
        <span class="d-block h3">{{ title if title else 'BTC/USDT' }}</span>
      </div>
      <div class="ms-auto">
        <div class="dropdown">
          <button class="btn btn-sm btn-neutral" data-bs-toggle="dropdown" aria-expanded="false">Interval</button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">1m</a></li>
            <li><a class="dropdown-item" href="#">5m</a></li>
            <li><a class="dropdown-item" href="#">1h</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="mx-n4">
      <div id="chart-crypto-price" data-symbol="{{ symbol if symbol else 'BTCUSDT' }}" data-height="{{ chart.height if chart.height else '300' }}"></div>
    </div>
  </div>
</div>